.container-sm, .container-xl, .container-fluid, .container-md, .container-lg {
	width: 116%;
	padding-right: 0;
	padding-left: 0;
	margin-right: auto;
	margin-left: -13%;
}

.post-content, post-custom {
	box-sizing: border-box;
	padding-left: 5%;
	padding-right: 5%;
}

.markdown-body pre {
	font-family: Consolas,Mono,monospace;
	padding: 0.75em 1.65em;
	margin: 0;
}

.markdown-body code {
	font-family: Consolas,Mono,monospace;
	font-size: 18px;
	padding: 0.15em 0.35em;
	margin: 0;
}

html {
	font-size: 18.5px;
	letter-spacing: 0.02em;
	font-family: ; 
	line-height: 1.15;
}

/* noto-serif-sc-regular - chinese-simplified_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/SiYuanSongTi.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
