{{ partial "header.html" . }}

<!-- 指定layout:list时按照此样式展示。显示content，然后显示文章list -->

{{ if not .IsHome }}
  <h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

{{ $pages := slice }}
{{ if eq .Kind "page" }}
  {{ $pages = .Site.RegularPages }} <!-- 普通页面只指定layout为list时才会显示列表，而只有archive.md指定了这一属性，因此这里为其指定为获取站点所有文章以实现archive功能 -->
{{ else if eq .Kind "taxonomy" }}
  {{ $pages = .Pages }} <!-- 分类页面只获取当前分类下的文章 -->
{{ else }}
  {{ $pages = .Pages }} <!-- 此else分支无用，只是为了区分上面的特殊 page -->
{{ end }}

{{ range ($pages.GroupByDate "2006-01") }}
  <h2>{{ .Key }}</h2>
  <ul>
    {{ range .Pages }}
      <li class="archieve-list-item">
        <div class="archieve-left-section">
          <span class="date">{{ .Date.Format "2006/01/02" }}</span>
          <a href="{{ .RelPermalink }}" class="title-link-a">{{ .Title | markdownify }}</a>
        </div>

        <div class="archieve-right-section">
          {{ with .Params.series }}
            [S]
            {{ range . }}
              <a href="{{ "/series/" | relLangURL }}{{ . | urlize }}" class="taxonomy-link-a">{{ . }}</a>
            {{ end }}
          {{ end }}
          {{ with .Params.categories }}
            [C]
            {{ range . }}
              <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" class="taxonomy-link-a">{{ . }}</a>
            {{ end }}
          {{ end }}
          {{ with .Params.tags }}
            [T]
            {{ range . }}
              <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="taxonomy-link-a">{{ . }}</a>
            {{ end }}
          {{ end }}
        </div>
      </li>
    {{ end }}
  </ul>
{{ end }}

{{ partial "footer.html" . }}
