{{ partial "header.html" . }}

<!-- 指定layout:list时按照此样式展示。显示content，然后显示文章list -->

{{ if not .IsHome }}
  <h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

{{ $pages := slice }}
{{ if eq .Kind "page" }}
  {{ $pages = .Site.RegularPages }} <!-- 普通页面只指定layout为list时才会显示列表，而只有archive.md指定了这一属性，因此这里为其指定为获取站点所有文章以实现archive功能 -->
{{ else if eq .Kind "taxonomy" }}
  {{ $pages = .Pages }} <!-- 分类页面只获取当前分类下的文章 -->
{{ else }}
  {{ $pages = .Pages }} <!-- 奇怪，为什么分类的页面会走到这里？ -->
{{ end }}

{{ range ($pages.GroupByDate "2006-01") }}
{{ if (eq .Key "0001-01") }}
  <p style="font-size: 1.1rem; font-weight: bold; margin-bottom: -0.8rem;">🐒🐒-🐎</p>
{{ else }}
  <p style="font-size: 1.1rem; font-weight: bold; margin-bottom: -0.8rem;">{{ .Key }}</p>
{{ end }}
  <ul>
    <!-- 只显示有"归属"的文章，也即content目录的子目录中的文章。每个子目录为一个section -->
    {{ range (where .Pages "Section" "!=" "") }}
      <li class="archieve-list-item">
        <div class="archieve-left-section">
          {{ if (gt .Params.date 0) }}
          <span class="archive-date">{{ .Date.Format "2006-01-02" }}</span>
          {{ end }}
          🗞️<a href="{{ .RelPermalink }}" class="title-link-a">{{ .Title | markdownify }}</a>
        </div>

        <div class="archieve-right-section">
          {{ with .Params.series }}
            <!-- 🗓️ 📚🎞️ 🎥 📺 📽️ 🎬 -->
            🎖️
            {{ range . }}
              <a href="{{ "/series/" | relLangURL }}{{ . | urlize }}" class="taxonomy-link-a">{{ . }}</a>
            {{ end }}
          {{ end }}
          {{ with .Params.categories }}
            🗂️
            {{ range . }}
              <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" class="taxonomy-link-a">{{ . }}</a>
            {{ end }}
          {{ end }}
          {{ with .Params.tags }}
            🏷️
            {{ range . }}
              <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="taxonomy-link-a">#{{ . }}</a>
            {{ end }}
          {{ end }}
        </div>
      </li>
    {{ end }}
  </ul>
{{ end }}

{{ partial "footer.html" . }}
