{{ partial "header.html" . }}
<div class="article-meta">
<h1><span class="title">{{ .Title | markdownify }}</span></h1>
{{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
{{ with .Params.series }}
  <div class="series">
  <h2>
    Series:
    {{ range . }}
      <a class="series-tag" href="{{ "/series/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>
    {{ end }}
  </h2>
  </div>
{{ end }}
{{ if (gt .Params.date 0) }}<h2 class="date">{{ .Date.Format "2006/01/02" }}</h2>{{ end }}
</div>

<main>

{{ if .Params.toc }}
{{ .TableOfContents }}
{{ end }}

{{ .Content }}
</main>

{{ partial "footer.html" . }}
