{{ partial "header.html" . }}
<div class="article-meta">
  <h1><span class="article-meta-title">{{ .Title | markdownify }}</span></h1>
  {{ with .Params.author }}<h2 class="article-meta-author">{{ . }}</h2>{{ end }}
  {{ with .Params.series }}
  <div class="article-meta-series">
    <h2>
      Series:
      {{ range . }}
      <a class="article-meta-series-each" href="{{ " /series/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>
      {{ end }}
    </h2>
  </div>
  {{ end }}
  {{ if (gt .Params.date 0) }}<h2 class="article-meta-date">{{ .Date.Format "2006/01/02" }}</h2>{{ end }}
</div>

<main>

  {{ if .Params.toc }}
  {{ .TableOfContents }}
  {{ end }}

  {{ .Content }}
</main>

{{ partial "footer.html" . }}
