{{ partial "header.html" . }}

<h1>{{ .Title | markdownify }}</h1>
{{ .Content }}

<!-- <hr> -->

文章列表：

<ul>
    {{ $pages := .Pages }}
    {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
    {{ range (where $pages "Section" "!=" "") }}
    <li>
        <div style="display: flex; align-items: center; margin: 0 0 -0.4rem 0;">
            <span style="text-wrap: nowrap; margin-right: 0.36rem">{{ .Date.Format "2006/01/02" }}</span>
            <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
        </div>
    </li>
    {{ end }}
</ul>

{{ partial "footer.html" . }}
