/* 手机端（< 768px） */
@media (max-width: 768px) {
    body {
        width: 90% !important;
        max-width: 100% !important;
        font-size: 100% !important;
        background-image: none !important;
    }

    .archieve-right-section {
        margin-left: 0;
        width: 100%;
        justify-content: flex-end;
        margin-top: 0.5rem;
        align-items: center;
    }

    .plantuml-diagram,
    .kroki-diagram {
        max-width: 95% !important;
    }

    .taxonomy-grid {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    /* 搜索框样式调整 */
    #search-input {
        width: 90% !important;
        padding: 0.8rem;
        font-size: 1rem;
        border: 1px solid #ddd;
        border-radius: 4px;
        margin-bottom: 1rem;
    }

    /* tags词云调整 */
    #tag-cloud-canvas {
        width: 100% !important;
        margin: 0 auto;
        padding: 0;
        transform-origin: center;
    }
}
