body {
  width: 70% !important;
  max-width: 95% !important;
  margin: -0.5rem;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 1em;
  line-height: 1.5;
/*  background-color: #f5f2e9;*/
}

/* 菜单栏 */
.menu {
    padding: 0;
/*    margin: 0.3rem;*/
    text-align: center;
}
.menu li {
    display: inline-block;
}
.menu a {
    text-decoration: none;
    background: #eaeef1;
    padding: 5px;
    border-radius: 5px;
}

/* 分割线 */
hr {
  border-style: dashed;
  color: #ddd;
}

/* 文章元信息块 */
.article-meta{
    text-align: center;
    text-decoration: none;
    background: #eaeef1;
    padding: 5px;
    border-radius: 5px;
}

/* 标题 */
.title {
    font-size: 1em;
}

/* 脚注 */
footer {
    text-align: center;
}

footer a {
    text-decoration: none;
}

/* 超链接 */
p a{
    color: #2e59a7;
}
p a:visited{
    color: #6f94cd;
}
a:hover {
/*    margin: 5px;*/
/*    padding: 0.2px 0.5px 0.2px 0.5px;*/
/*    color: #747d8c;*/
    text-decoration: dotted;
    background-color: #ffdd59;
    box-shadow: 6px 6px 6px #ddd;
    border-radius: 5px;
    transition-duration: 888ms;
}

/* 代码块 */
pre {
  border: 1px solid #ddd;
  border-radius: 6px;
/*  box-shadow: 3px 3px 3px #eee;*/
  padding: -1em -1em;
  overflow-x: auto;
}
/* 嵌入代码块 */
code {
    color: #108b96;
    background-color: #f5f6fa;
    font-family: "Maple Mono NF CN", "Fira Code", Consolas, "Lucida Console", "Courier", monospace, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    font-weight: 550;
    margin: 0 0px;
    padding: 1px 5px 1px;
    border-radius: 8px;
    transition: all 0.3s ease;
    z-index: -1;
}
pre code { background: none; }

/* 代码块复制按钮 TODO */

/* 返回顶部按钮 */
#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 1.3rem;
    background-color: #f5f6fa;
    color: #fff;
    border: none;
    border-radius: 100%;
    padding: 5px 4px;
    cursor: pointer;
}
#backToTopBtn:hover{
    background-color: #bec2b3;
}


/* 引用 */
blockquote {
    border-left: 4px solid #bdc3c7;
    width: 97%;
    padding: 1px 15px;
    margin-left: 0px;
/*    color: #494949;*/
    background-color: rgb(250, 250, 250);
    border-radius: 3px;
    line-height: 1.4;
}

/* 表格 */
table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }

/* 高亮 */
mark {
    background: #def3d1 !important;
    border-bottom: 0.5px solid #c6c5c5;
    border-radius: 3px;
    padding: 0.2px 0.5px 0.2px 0.5px;
    margin: 0.2px 0.5px 0.2px 0.5px;
}

/* 粗体 */
strong {
/*    color: #4274bf;*/
}
/* 斜体 */
em {
    color: #57606f;
}
/*em:hover {
    color: #4fc08d;
}*/

/* misc elements */
img, iframe, video {
    max-width: 95%;
    margin: 0.6rem;
/*    margin: 0.6rem auto;*/
/*    padding: 1px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);*/
}
main { hyphens: auto; }

/* PlantUML 图片样式（类名在footer中指定） */
.plantuml-diagram, .mermaid-diagram {
    max-width: 60%;
}

/* 手机端（< 768px） */
@media (max-width: 767px) {
  body {
    width: 90% !important;
    max-width: 100% !important;
    font-size: 100% !important;
  }
}
