body {
    width: 60% !important;
    max-width: 95% !important;
    margin: -0.5rem;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 1em;
    line-height: 1.5;

    /*
      'url(https://shuaikai-bucket0001.oss-cn-shanghai.aliyuncs.com/pic_bed/2025_3/cows.jpg)',
      'url(https://shuaikai-bucket0001.oss-cn-shanghai.aliyuncs.com/pic_bed/2025_3/cow.jpg)',
      'url(https://shuaikai-bucket0001.oss-cn-shanghai.aliyuncs.com/pic_bed/2025_3/forest-snow.jpg)',
      'url(https://shuaikai-bucket0001.oss-cn-shanghai.aliyuncs.com/pic_bed/2025_3/forest-river_p.png)',
      'url(https://shuaikai-bucket0001.oss-cn-shanghai.aliyuncs.com/pic_bed/2025_3/forest-green.jpg)',*/

    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.85) 10%, rgba(255, 255, 255, 0.96) 21%, rgba(255, 255, 255, 0.96) 80%, rgba(255, 255, 255, 0.85) 90%, rgba(255, 255, 255, 0.75) 100%), url('https://shuaikai-bucket0001.oss-cn-shanghai.aliyuncs.com/pic_bed/2025_3/cow.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* 菜单栏 */
.menu {
    padding: 0;
    /* margin: 0.3rem; */
    text-align: center;
}

.menu li {
    display: inline-block;
}

.menu a {
    text-decoration: none;
    background: #efefef;
    color: black !important;
    padding: 5px;
    border-radius: 5px;
}

/* 分割线 */
hr {
    border-style: dashed;
    color: #ddd;
}

/* 文章元信息块 */
.article-meta {
    text-align: center;
    text-decoration: none;
    background: #efefef;
    padding: 1px;
    border-radius: 5px;
}

.article-meta-title {
    font-size: 1em;
}

.article-meta-info {
    color: #666;
    font-size: 0.9rem;
    margin: -0.6rem 0 0.2rem 10px;
    text-align: left;
}

.article-meta-info a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* 脚注 */
footer {
    text-align: center;
}

footer a {
    text-decoration: none;
}

/* 超链接 */
a {
    color: #2e59a7;
    text-decoration: none;
    padding: 4px 0;
    position: relative;
}

p a:not([class]):not([style])::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 0px 2px 2px 0px;
    /*  You can try 'link-link7.png'  */
    background-image: url('https://shuaikai-bucket0001.oss-cn-shanghai.aliyuncs.com/pic_bed/2025_3/link.png');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

p a:visited {
    color: #6f94cd;
}

a:not([class]):not([style]):hover {
    /*     margin: 5px;*/
    /*     padding: 0.2px 0.5px 0.2px 0.5px;*/
    /*     color: #747d8c;*/
    color: #2e59a7 !important;
    text-decoration: dotted;
    background-color: rgb(220, 199, 225);
    /*    box-shadow: 6px 6px 6px #ddd;*/
    /*    border-radius: 5px;*/
    /*    transition-duration: 888ms;*/
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 4'%3E%3Cpath fill='none' stroke='%23aed0ee' d='M0 3.5c5 0 5-3 10-3s5 3 10 3 5-3 10-3 5 3 10 3'/%3E%3C/svg%3E") repeat-x 0 100%;
    background-size: 20px auto;
    animation: waveMove 1s infinite linear;
}

@keyframes waveMove {
    from {
        background-position: 0 100%;
    }

    to {
        background-position: -20px 100%;
    }
}

/* 标题和分类类型的link（自定义样式） */
.title-link-a {
    color: #3c4654;
    text-decoration: none;
    font-weight: bold;
}

.taxonomy-link-a {
    text-align: right;
    color: #7d929f;
    text-decoration: none;
}


/* 代码块 */
pre {
    border: 1px solid #ddd;
    border-radius: 6px;
    /*    box-shadow: 3px 3px 3px #eee;*/
    overflow-x: auto;
    position: relative;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

/* 嵌入代码块 */
code {
    color: #2c3e50;
    background-color: #f5f6fa;
    font-family: "Maple Mono NF CN", "Fira Code", Consolas, "Lucida Console", "Courier", monospace, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    font-weight: 550;
    margin: 0 0px;
    padding: 1px 6px 1px 6px;
    border-radius: 6px;
    transition: all 0.3s ease;
    z-index: -1;
}

/* 引用 */
blockquote {
    border-left: 4px solid #bdc3c7;
    /*    width: 97%;*/
    padding: 1px 15px;
    margin-left: 0px;
    /* color: #494949; */
    background-color: rgb(250, 250, 250);
    border-radius: 3px;
    line-height: 1.4;
}

/* 列表 */
li p {
    margin: 0;
}

ul:not([class]):not([style]),
ol:not([class]):not([style]) li:not([class]):not([style]) {
    margin-bottom: 0.1rem;
    margin-left: -0.3rem;
}

/* 表格 */
table {
    margin: auto;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}

table thead th {
    border-bottom: 1px solid #ddd;
}

th,
td {
    padding: 5px;
}

thead,
tfoot,
tr:nth-child(even) {
    background: #eee;
}

/* 按键 */
kbd {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px 4px;
    color: #333;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* 高亮 */
mark {
    background: #def3d1 !important;
    border-bottom: 0.5px solid #c6c5c5;
    border-radius: 3px;
    padding: 0.2px 0.5px 0.2px 0.5px;
    margin: 0.2px 0.5px 0.2px 0.5px;
}

/* 粗体 */
strong {
    /* color: #4274bf; */
}

/* 斜体 */
em {
    color: #57606f;
}

/*em:hover {
    color: #4fc08d;
}*/

/* 图片视频页帧等 */
img,
.common-markdown-diagram,
iframe,
video {
    max-width: 95%;
    /*     margin: 0.6rem;*/
    /* margin: 0.6rem auto; */
    /* padding: 1px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
}

main {
    hyphens: auto;
}

/* 自动排版图片 */
.img-align {
    width: 100%;
    display: flex;
}

.img-align>* {
    flex: 1;
    min-width: 0;
    text-align: center;
    object-fit: contain;
}


/* 脚注引用样式 */
sup a.footnote-ref {
    background: #aed0ee;
    color: white;
    border-radius: 36%;
    margin: 0.2rem;
    padding: 0.06rem 0.2rem;
    font-size: 0.6em;
    text-decoration: none;
}

/* PlantUML 图片样式（类名在footer中指定） */
.plantuml-diagram,
.kroki-diagram {
    max-width: 60%;
}

/* 归档页文章链接列表布局 */
.archieve-list-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.archieve-left-section {
    display: flex;
    align-items: center;
    /*元素间距*/
    gap: 0.2rem;
    order: 1;
}

.archieve-right-section {
    margin-left: auto;
    display: flex;
    gap: 0.2rem;
    flex-wrap: wrap;
    order: 2;
    align-items: center;
}


/* 手机端（< 768px） */
@media (max-width: 768px) {
    body {
        width: 90% !important;
        max-width: 100% !important;
        font-size: 100% !important;
        background-image: none !important;
    }

    .archieve-right-section {
        margin-left: 0;
        width: 100%;
        justify-content: flex-end;
        margin-top: 0.5rem;
        align-items: center;
    }

    .archieve-list-item {
        margin-left: -1.2rem;
    }

    .archieve-left-section {
        flex-shrink: 0;
        min-width: max-content;
    }

    .plantuml-diagram,
    .kroki-diagram {
        max-width: 95% !important;
    }

    .taxonomy-grid {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    /* 搜索框样式调整 */
    #search-input {
        width: 90% !important;
        padding: 0.8rem;
        font-size: 1rem;
        border: 1px solid #ddd;
        border-radius: 4px;
        margin-bottom: 1rem;
    }

    /* tags词云调整 */
    #tag-cloud-canvas {
        width: 100% !important;
        margin: 0 auto;
        padding: 0;
        transform-origin: center;
    }
}

/* 标题自动编号 */
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
    color: rgb(196, 194, 194);
    font-size: small;
    vertical-align: central;
    margin: 0 6px 0 0;
    /* box-shadow: 0 0 6px rgba(222, 222, 222, 0.5); */
    /* border-radius: 6px; */
    /* padding: 0.05rem; */
}

body {
    counter-reset: section2;
}

h2 {
    counter-increment: section2;
    counter-reset: section3;
}

h2::before {
    content: counter(section2);
}

h3 {
    counter-increment: section3;
    counter-reset: section4;
}

h3::before {
    content: counter(section2) "." counter(section3);
}

h4 {
    counter-increment: section4;
    counter-reset: section5;
}

h4::before {
    content: counter(section2) "." counter(section3) "." counter(section4);
}

h5 {
    counter-increment: section5;
    counter-reset: section6;
}

h5::before {
    content: counter(section2) "." counter(section3) "." counter(section4) "." counter(section5);
}

h6 {
    counter-increment: section6;
}

h6::before {
    content: counter(section2) "." counter(section3) "." counter(section4) "." counter(section5) "." counter(section6);
}
