body {
    width: 70% !important;
    max-width: 95% !important;
    margin: -0.5rem;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 1em;
    line-height: 1.5;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.96) 16%, rgba(255, 255, 255, 0.96) 85%, rgba(255, 255, 255, 0.7) 100%), url('https://shuaikai-bucket0001.oss-cn-shanghai.aliyuncs.com/pic_bed/2025_3/cow.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    hyphens: auto;
}

/* 分割线 */
hr {
    border-style: dashed;
    color: #ddd;
}

/* 脚注 */
footer {
    text-align: center;
}

footer a {
    text-decoration: none;
}

/* 超链接 */
a {
    color: #2e59a7;
    text-decoration: none;
    padding: 4px 0;
    position: relative;
}

p a:not([class]):not([style])::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 0px 2px 2px 0px;
    background-image: url('https://shuaikai-bucket0001.oss-cn-shanghai.aliyuncs.com/pic_bed/2025_3/link.png');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

p a:visited {
    color: #6f94cd;
}

a:not([class]):not([style]):hover {
    color: #2e59a7 !important;
    text-decoration: dotted;
    background-color: rgb(220, 199, 225);
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 4'%3E%3Cpath fill='none' stroke='%23aed0ee' d='M0 3.5c5 0 5-3 10-3s5 3 10 3 5-3 10-3 5 3 10 3'/%3E%3C/svg%3E") repeat-x 0 100%;
    background-size: 20px auto;
    animation: waveMove 1s infinite linear;
}

@keyframes waveMove {
    from {
        background-position: 0 100%;
    }

    to {
        background-position: -20px 100%;
    }
}

/* 代码块 */
pre {
    border: 1px solid #ddd;
    border-radius: 6px;
    /*    box-shadow: 3px 3px 3px #eee;*/
    overflow-x: auto;
    position: relative;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

/* 嵌入代码块 */
code {
    color: #2c3e50;
    background-color: #f5f6fa;
    font-family: "Maple Mono NF CN", "Fira Code", Consolas, "Lucida Console", "Courier", monospace, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    font-weight: 550;
    margin: 0 0px;
    padding: 1px 6px 1px 6px;
    border-radius: 6px;
    transition: all 0.3s ease;
    z-index: -1;
}

/* 引用 */
blockquote {
    border-left: 4px solid #bdc3c7;
    padding: 1px 15px;
    margin-left: 0px;
    background-color: rgb(250, 250, 250);
    border-radius: 3px;
    line-height: 1.4;
}

/* 按键 */
kbd {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px 4px;
    color: #333;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* 高亮 */
mark {
    background: #def3d1 !important;
    border-bottom: 0.5px solid #c6c5c5;
    border-radius: 3px;
    padding: 0.2px 0.5px 0.2px 0.5px;
    margin: 0.2px 0.5px 0.2px 0.5px;
}

/* 斜体 */
em {
    color: #57606f;
}

/* 图片视频页帧等 */
img,
.common-markdown-diagram,
iframe,
video {
    max-width: 95%;
}

/* PlantUML 图片样式（类名在footer中指定） */
.plantuml-diagram,
.kroki-diagram {
    max-width: 60%;
}

/* 脚注引用样式 */
sup a.footnote-ref {
    background: #aed0ee;
    color: white;
    border-radius: 36%;
    margin: 0.2rem;
    padding: 0.06rem 0.2rem;
    font-size: 0.6em;
    text-decoration: none;
}

/* 表格 */
table {
    margin: auto;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}

table thead th {
    border-bottom: 1px solid #ddd;
}

th,
td {
    padding: 5px;
}

thead,
tfoot,
tr:nth-child(even) {
    background: #eee;
}
