{{ if .File }}
<div class="edit-button">
  <a href="https://github.com/{{ .Site.Params.githubUserName }}/{{ .Site.Params.githubUserName }}.github.io/edit/main/content/{{ replace .File.Path "\\" "/" }}" target="_blank" rel="noopener">&#xF1A7D;</a>
</div>

<style>
.edit-button {
    background: #EFEFEF;
    border-radius: 8px;
    left: 20px;
    bottom: 20px;
    cursor: pointer;
    font-family: "Maple Mono NF CN";
    font-size: 1.3rem;
    padding: 1px 10px 0px 6px;
    position: fixed;
    transition: background 0.3s;
    z-index: 9999;
    color: #555;
}

.edit-button a {
    color: #555;
    text-decoration: none;
    background: none !important;
    transition: opacity 0.2s;
}

.edit-button:hover,
.edit-button a:hover {
    background: #BEC2B3;
}
</style>
{{ end }}
