{{ if or .File .IsHome }}
<div class="edit-button">
    <a href='{{ if .IsHome }}https://github.com/{{ .Site.Params.githubUserName }}/{{ .Site.Params.githubUserName }}.github.io/new/main/content/测试{{ else }}https://github.com/{{ .Site.Params.githubUserName }}/{{ .Site.Params.githubUserName }}.github.io/edit/main/content/{{ replace .File.Path "\\" "/" }}{{ end }}'
       target="_blank" rel="noopener">
        <i class="fa-solid fa-square-pen"></i>
    </a>
</div>

<style>
.edit-button {
    background: #EFEFEF;
    border-radius: 8px;
    left: 20px;
    bottom: 20px;
    cursor: pointer;
    font-family: "Maple Mono NF CN";
    font-size: 1.2rem;
    padding: 1px 6.6px 0px 6.6px;
    position: fixed;
    transition: background 0.3s;
    z-index: 9999;
    color: #ccc;
    opacity: 0.5;
}

.edit-button a {
    color: #ccc;
    text-decoration: none;
    background: none !important;
    transition: opacity 0.2s;
    padding: 0;
    margin: 0;
}

.edit-button:hover,
.edit-button a:hover {
    background: #BEC2B3;
    opacity: 1;
}
</style>
{{ end }}
