<!-- 返回顶部按钮 -->
<button id="backToTopBtn"><i class="fa-solid fa-square-caret-up"></i></button>
<script>
  var backToTopBtn = document.getElementById("backToTopBtn");
  backToTopBtn.addEventListener("click", function() {
    window.scrollTo({
      top: 0,
      behavior: "smooth"
    });
  });
  window.addEventListener("scroll", function() {
    if (document.body.scrollTop > 500 || document.documentElement.scrollTop > 500) {
      backToTopBtn.style.display = "block";
    } else {
      backToTopBtn.style.display = "none";
    }
  });
</script>

<style>
/* 返回顶部按钮 */
#backToTopBtn {
    border-radius: 8px;
    border: none;
    right: 20px;
    bottom: 20px;
    color: #aaa;
    font-family: "Maple Mono NF CN";
    font-size: 1.3rem;
    position: fixed;
    transition: background 0.3s;
    z-index: 999;
    opacity: 0.7;
}

#backToTopBtn:hover {
    background: #BEC2B3;
    opacity: 1;
    color: #666;
}
</style>
