<!-- 返回顶部按钮 -->
<button id="backToTopBtn">🔝</button>
<script>
  var backToTopBtn = document.getElementById("backToTopBtn");
  backToTopBtn.addEventListener("click", function() {
    window.scrollTo({
      top: 0,
      behavior: "smooth"
    });
  });
  window.addEventListener("scroll", function() {
    if (document.body.scrollTop > 500 || document.documentElement.scrollTop > 500) {
      backToTopBtn.style.display = "block";
    } else {
      backToTopBtn.style.display = "none";
    }
  });
</script>

<style>
/* 返回顶部按钮 */
#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 1.3rem;
    background-color: #f5f6fa;
    color: #fff;
    border: none;
    border-radius: 100%;
    padding: 5px 4px;
    cursor: pointer;
}

#backToTopBtn:hover {
    background-color: #bec2b3;
}
</style>
